body {      
  background: url("./Pictures/Totoro.gif") center top no-repeat;
  background-size: cover;
}

#add-task-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  color: black;
  opacity: 75%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#task-list {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  opacity: 75%;
}

.button {
  background-color: #e7e7e7; 
  color: black;
  font-size: 16px;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}